[package]
name = "wprs"
version = "0.1.0"
authors.workspace = true
license.workspace = true
edition.workspace = true

[workspace.package]
authors = ["Nicolas Avrutin <rasputin@google.com>"]
license = "Apache-2.0"
edition = "2021"

[workspace]
members = ["wprs-protocol", "wprs-common"]

[profile.release-with-symbols]
inherits = "release"
debug = true

[profile.release-lto]
inherits = "release-with-symbols"
lto = true
codegen-units = 1


[dependencies]
wprs-protocol = { path = "./wprs-protocol" }
wprs-common = { path = "./wprs-common" }

anyhow = "1.0.86"
bimap = "0.6.3"
bpaf = "0.9.12"
crossbeam-channel = "0.5.13"
enum-as-inner = "0.6.0"
fallible-iterator = "0.3.0"
home = "0.5.9"
lagoon = { version = "0.1.3", features = ["scope"] }
nix = { version = "0.29.0", features = ["fs", "socket"] }
optional_struct = "0.5.2"
rkyv = { version = "0.8.8" }
ron = "0.8.1"
serde = "1.0.203"
serde_derive = "1.0.203"
serde_json = "1.0.117"
smithay = { git = "https://github.com/Smithay/smithay.git", default-features = false, features = [
    "desktop",
    "xwayland",
    "wayland_frontend",
] }
smithay-client-toolkit = { git = "https://github.com/Smithay/client-toolkit.git" }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["parking_lot"] }
tracing-tracy = { version = "0.11.0", optional = true, features = [
    "only-localhost",
    "ondemand",
] }
tracy-client = { version = "0.17.0", optional = true, features = [
    "only-localhost",
    "ondemand",
] }
whoami = "1.5.1"
x11rb = "0.13.1"


[features]
# Enables exporting data to the Tracy profiler.
# NOTE: opens a port on localhost.
# NOTE: breaks client reconnection due to sigpipe handling.
tracy = [
    "dep:tracy-client",
    "dep:tracing-tracy",
    "wprs-protocol/tracy",
    "wprs-common/tracy",
]
# Enables memory allocation tracking for tracy. NOTE: severely decreases
# allocation performance.
tracy-allocator = ["tracy"]

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
png = "0.17.13"
proptest = "1.4.0"
trybuild = "1.0.96"

[[bench]]
name = "prefix_sum"
harness = false

# TODO: Fix bench
# [[bench]]
# name = "image_compression"
# harness = false

[[bench]]
name = "serialize"
harness = false
